/Misc
/notes.txt
/Python3.10_venv
/tempCodeRunnerFile.py
/tkinter_test.py
/workspace.code-workspace
/__pycache__
/server2.py
/picture.png
/picture2.png
/picture3.png
/Testy
/saved_corpus.txt
/pictures
/pictures_wizard
/test_pictures
/test_pictures2
/*corpus*
/*dialogue*
/*_backup.txt
/requirements.in
/.DS*
/.endiacc_venv