/.nlp_venv
/17-10-28_29-08-2022_dialogue_raw.txt
/answers_hist.svg
/barplot.svg
/lexem types.svg
/lineplot.svg
/questions_hist.svg
/random.ipynb
/test.py
/śmieci
/data/dialogues
/requirements.in
/old_readme.md
